.MainContainer{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputValue{
    height: 2.6rem;
    width: 18rem; 
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255,0.8);
    padding-left: 0.4rem;
    font-size: 1rem;
}
.add{
    background-color: #3B82F6;
    color: white;
    width: 6rem;
    height: 2.6rem; 
    border: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    font-size: 1rem;
}
.container{
    display: flex;   
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 50%;
}
.hours{
    width: 5rem;
}
